/* 
作者:yaoz
更新日期:2021.5.22
更新内容:添加搜索功能,添加日期显示
*/
/*主体头部*/
div.photo{box-shadow: 1px 1px 2px gray;}
div.www{float: left;}
div.wwwHead{
    width: 760px;
    /* border:  1px solid gray; */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 2px gray;
    margin-bottom: 10px;
}
div.headwww{
    background-color: #025b85;
    height: 40px;
}
div.hd{width: 224px;margin: 0px auto;}
/* 时间显示 */
#times{
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    padding: 5px 5px;
}
#time{
    /* font-weight: bold; */
    font-size: 60px;
}
/* 搜索框功能 */
div.photos{
    background-image: url(../photo/1.jpg);
    background-size: 100% 350px;
    /* width: 100%; */
    height: 350px;
}
div.search{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    width: auto;
    border-radius: 40px;
    padding: 10px;/*四边填充10 */
}
.search:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search:hover > .search-btn{
    background: #fff;
}
.search-btn {
    color:#fb3f51 ;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#2f3640 ;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: .4s;
    border: 0px;
}
.search-btn > img{
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}
.search-txt{
    border: none;/*文本框边框 */
    background: none;
    outline: none;/*文本框四周轮廓*/
    float: left;
    padding: 0%;
    color: #fff;
    font-size: 16px;
    transition: .4s;
    line-height: 40px;/*行高，行间距*/
    width: 0px;
} 
div.searchList{
    float: right;
    height: auto;
    width: 240px;
    background-color: rgba(70, 69, 69, 0.7);
}
#list li{
    line-height: 35px;
    list-style-type: none;
}
#list a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#list li:hover{
    background: #2f3640;
}
div.headwww h2{
    color: white;
    font-size: 32px;
    float: left;
}
div.headwww img{float: left;padding-top: 4px;}
/* 搜索引擎选择 */
div.search_div{
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%,-50%);
}
ul.searchFun{
    list-style-type: none;
	/* float: left; */
}
ul.searchFun li{
	display: inline;
}
ul.searchFun button{
    border: 0px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(151, 151, 151);
}
.spe{
    color: white;
}
ul.zi{
    list-style-type: none;
}
/*主体左部*/
div.sou{
    width: 760px;
    background-color: white;
    box-shadow: 1px 1px 2px gray;
    float: left;
}
div.sou>table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
div.sou th{
    border: 1px solid black;
    background-image: url(../photo/text.png);
    background-size: 758px, 100%;
    color: white;
}
div.sou th{padding: 5px;}
table.tbone td{width: 16.6%}
div.sou a:link,div.sou a:visited{
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.sou a:hover,div.sou a:active{
    color: white;
    background-color: #0079b1;
}
/*右侧论坛*/
div.bbs{
    margin-left: 20px;
    width: 220px;
    height: auto;
    box-shadow: 1px 1px 2px gray;
    background-color: white;
    float: left;
}
div.bbs>h3{
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #025b85;
    margin-top: 20px;
    margin-bottom: 10px;
}
div.bbs ul{
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.bbs a:link,div.bbs a:visited{
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.bbs a:hover,div.bbs a:active{
    color: white;
    background-color: #025b85;
}
/*底部*/
div.ft{
    background-color: black;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    float: left;
}
div.lg img{
    padding: 10px;
    width: 150px;
    height: 150px;
    float: left;
}
div.txt{
    padding: 40px;
    width: 540px;
    text-align: center;
    font-size: 32px;
    float: left;
    color: white;
}
div.txt p{
    letter-spacing: 10px;
    line-height: 45px;
}